# **TITANIC SURVIVOR ANALYSIS**

In [ ]:
import pandas as pd
import numpy as np

# READING DATA USING PANDAS

We use pandas read_csv function to read the csv file in python and pandas DataFrame method to convert filr into the data frame.

In [ ]:
df = pd.DataFrame(pd.read_csv('/content/train.csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.shape

(891, 12)

## **Description of the attributes of the dataset**

Pclass: Passenger Class (1 = 1st,2 = 2nd;3 = 3rd)
survival: survival (0 = No;1 = Yes)
name: Name
sex: Sex
age: Age
sibsp: Number of Siblings/Spouses Aboard
parch: Number of parents/Children Aboard
ticket: Ticket Number
fare: passenger fare (British pound)
cabin: Cabin
embarked: Port of Embarkation(C = Cherbourg; Q = Queenstown; S = Southampton)

# **HANDELING NULL VALUES**

The dataset may contains many rows and columns for which some values are missing, we can't leave those missing  values as it is.
In such cases we have two option:
1. Either drop the entire row or column
2. Fill the missing values with some appropriate values let's say mean of all the values for that column may do the job.

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## **Seperating out the columns which have more than 35% of the values missing in the values dataset**

In [ ]:
x = df.isnull().sum()

drop_col = x[x>(35/100 * df.shape[0])]
drop_col

Cabin    687
dtype: int64

Note: There is no specific number after which you should drop the column.It's just that we decided that on oun according to what we want.

In [ ]:
drop_col.index

Index(['Cabin'], dtype='object')

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

Because Embarked contains string values, we see the details of that column seperately from others as strings does not have mean and all.

In [ ]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

For Embarked attribute, we fill the NULL values with the most frequent value in the column.

In [ ]:
df['Embarked'].fillna('s',inplace=True)

In [ ]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [ ]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

### sibsp: Number of Siblings/Spouses Aboard 
### parch: NUmber of Parents/Children Aboard

se we can make a new column family_size by combining these two columns

In [ ]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp','Parch'], axis=1, inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.033207  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.069809  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.331339 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  1.000000  0.091566   -0.248512
Fare            0.012658  0.257307 -0.549500  0.091566  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.248512  0.217138    1.000000

### FamilySize in the ship does not have much correlance with survival rate 
Let's check if we weather the person was alone or not can affect the survival rate.

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 11 columns]

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

### If the person is alone he/she has less chance of surviving.

The reason might be the person who is traveling with his family might be belonging to rich class and might be prioritized over other.

In [ ]:
df[['Alone','Face']].corr()

so we can see if the person was not alone, the chance the ticket price is higher is high.

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Servived'].mean()

KeyError: ignored

### It shows,female passengers have more chance of surviving than male ones.
### It shows women were prioritized over men.

In [ ]:
df.groupby(['Embarked'])['Servived'].mean()

KeyError: ignored

# **CONCLUSION**

* Female passengers were prioritized over men.
* People with high class or rich people have higher survival rate than others. The heirarichy might have been followed while saving the passangers.
* Passengers  travelling with their family have heigher survival rate.
* Passengers who borded the ship at Cherbourg, survived more in proportion then the others.